/*--put your own style sheet here--*/

.social-links i
  width: 25px
  height: 25px
  line-height: 25px
  margin: 5px 2px
  padding: 0
  color: $white
  background: none
  font-size: 20px
  border-radius: 50%
  z-index: 2

.lx-post-detail
  color: $grey-s
  margin-bottom: 10px
  display: block
  text-transform: lowercase
  font-size: 12px
  letter-spacing: .05em
  border-left: 4px solid $red-s-t
  padding-left: 10px

a.category-link
  font-size: 12px

.single #lx-aside .featured h2,
.single #lx-aside .page-title h2
  font-size: 46px

footer
  display: flex
  align-items: center
  gap: 20px

footer img
  display: inline-block
  vertical-align: middle
